################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IMDB/obj/Debug
/IMDB/bin/Debug
/.vs/IMDB/v15
