<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IMDB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><userSettings>
        <IMDB.My.MySettings>
            <setting name="ExtensionList" serializeAs="String">
                <value>.m4v,.mkv,.avi,.mpg,.wmv,.mp4,.mpv,.mpeg,.vob</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="urlImdb" serializeAs="String">
                <value>http://www.imdb.com/find?q=TESTSEARCH&amp;s=all</value>
            </setting>
            <setting name="urlSubdivx" serializeAs="String">
                <value>http://www.subdivx.com/index.php?buscar=TESTSEARCH&amp;accion=5&amp;masdesc=&amp;subtitulos=1&amp;realiza_b=1</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="WordsList" serializeAs="String">
                <value>720p,xvid,ac3,dvdscr,mp3,hdrip,vodrip,brrip,480p,1080p,bluray,x264,bdrip,r5,rc,proper,ws,mp4,nfo,dvdrip,hdscr,spanish,dx50,brscr,dual,h264,vhsrip,divx,dvbrip,aac,wma,dts,scr,r6,vhsscr,webrip,hdtv,webdl,web-dl,yify</value>
            </setting>
        </IMDB.My.MySettings>
		<My.MySettings>
			<setting name="ExtensionList" serializeAs="String">
				<value>.m4v,.mkv,.avi,.mpg,.wmv,.mp4,.mpv,.mpeg,.vob</value>
			</setting>
			<setting name="FilePath" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="LastFolder" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="MRU_Folders" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Port" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Server" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="urlImdb" serializeAs="String">
				<value>http://www.imdb.com/find?q=TESTSEARCH&amp;s=all</value>
			</setting>
			<setting name="urlSubdivx" serializeAs="String">
				<value>http://www.subdivx.com/index.php?buscar=TESTSEARCH&amp;accion=5&amp;masdesc=&amp;subtitulos=1&amp;realiza_b=1</value>
			</setting>
			<setting name="User" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="WordsList" serializeAs="String">
				<value>720p,xvid,ac3,dvdscr,mp3,hdrip,vodrip,brrip,480p,1080p,bluray,x264,bdrip,r5,rc,proper,ws,mp4,nfo,dvdrip,hdscr,spanish,dx50,brscr,dual,h264,vhsrip,divx,dvbrip,aac,wma,dts,scr,r6,vhsscr,webrip,hdtv,webdl</value>
			</setting>
		</My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.3.0" newVersion="3.12.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
